@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto+Slab&display=swap');
/*
    font-family: 'Montserrat', ;
    font-family: 'Roboto Slab', ;
*/

@mixin monse {
  font-family: 'Montserrat';
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

body {
  margin: 0;
  background-color: #fafafa;
}


.big-container {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

.header {
  & > div {
    height: 100%;
    display: flex;
    align-items: center;
    ul {
      margin-left: 15px;
      display: flex;
      flex-direction: row;
      list-style: none;
      width: 100%;
      max-width: 200px;
      justify-content: space-between;
      a{
        text-decoration: none;
        @include monse;
        font-size: 13px;
        letter-spacing: 1.9px;
        color: #121212;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
  .title {
    width: 240px;
    height: 37px;
    @include monse;
    font-size: 30px;
    letter-spacing: normal;
    color: #0290ff;
  }
  height: 95px;
  background-color: #ffffff;
  border-bottom: solid 2px #e8e8e8;
}

.oval {
  width: 40px;
  height: 40px;
  border: solid 2px #e8e8e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}